<div class="create-order-page">
  <!-- HEADER -->
  <header class="page-header">
    <div class="header-info">
      <h1 class="page-title">Edit Product</h1>
      <p class="page-subtitle">Fill out the form and edit the product details</p>
    </div>

    <div class="header-actions">
      <button class="back-btn" (click)="onCancel()" type="button">Back to products</button>
    </div>
  </header>

  <!-- FORM CARD -->
  <main class="form-main-content">
    <section class="form-card">
      <div class="card-header">
        <h2>Product Details</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="form-grid">
            <!-- NAME -->
            <div class="form-group full-width">
              <label for="name">Name</label>
              <input
                id="name"
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Product name"
              />
              @if (editForm.get('name')?.invalid && editForm.get('name')?.touched) {
                <div class="error-message">
                  @if (editForm.get('name')?.hasError('required')) {
                    <span>Field is required</span>
                  }
                  @if (editForm.get('name')?.hasError('maxlength')) {
                    <span>Maximum length is 50 characters</span>
                  }
                </div>
              }
            </div>

            <!-- CATEGORY -->
            <div class="form-group">
              <label for="category">Category</label>
              <select id="category" class="form-control" formControlName="categoryId">
                <option [ngValue]="null" disabled selected hidden>-- Select category --</option>
                @for (category of categories(); track category.id) {
                  <option [ngValue]="category.id">
                    {{ category.name }}
                  </option>
                }
              </select>
              @if (editForm.get('categoryId')?.invalid && editForm.get('categoryId')?.touched) {
                <div class="error-message">
                  @if (editForm.get('categoryId')?.hasError('required')) {
                    <span>Field is required</span>
                  }
                </div>
              }
            </div>

            <!-- QUANTITY -->
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input
                id="quantity"
                type="number"
                class="form-control"
                formControlName="quantity"
                placeholder="0"
              />
              @if (editForm.get('quantity')?.invalid && editForm.get('quantity')?.touched) {
                <div class="error-message">
                  @if (editForm.get('quantity')?.hasError('required')) {
                    <span>Field is required</span>
                  }
                  @if (editForm.get('quantity')?.hasError('min')) {
                    <span>Quantity cannot be less than 0</span>
                  }
                  @if (editForm.get('quantity')?.hasError('max')) {
                    <span>Quantity cannot exceed 9999</span>
                  }
                  @if (editForm.get('quantity')?.hasError('integer')) {
                    <span>Quantity value should be integer</span>
                  }
                </div>
              }
            </div>

            <!-- PRICE -->
            <div class="form-group">
              <label for="price">Price</label>
              <input
                id="price"
                type="number"
                step="0.01"
                class="form-control"
                formControlName="price"
                placeholder="0.00"
              />
              @if (editForm.get('price')?.invalid && editForm.get('price')?.touched) {
                <div class="error-message">
                  @if (editForm.get('price')?.hasError('required')) {
                    <span>Price is required</span>
                  }
                  @if (editForm.get('price')?.hasError('min')) {
                    <span>Price must be at least 0.01</span>
                  }
                  @if (editForm.get('price')?.hasError('max')) {
                    <span>Price cannot exceed 9,999,999</span>
                  }
                </div>
              }
            </div>
          </div>

          <!-- ACTIONS -->
          <div class="form-actions">
            <button type="button" class="cancel-btn" [disabled]="isSaving()" (click)="onCancel()">
              Cancel
            </button>

            <button
              type="submit"
              class="submit-order-btn"
              [disabled]="isSaving() || editForm.invalid"
            >
              @if (isSaving()) {
                Processing...
              } @else {
                Save Product
              }
            </button>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>
